/*css for header*/
#smallheader {
	background-color: #339966;

}

#smallheader p a {
	color: white;
	font-family: sans-serif;
}

#smallheader p span {
	color: white;
	font-family: sans-serif;
}

header #bigheader {
	background-color: #339966;
	padding-bottom: 10px;
	
}

#bigheader .col-sm-8 input {
	padding: 4px;
    border: 0;
    /*margin-left: 290px;*/
    padding-left: 9px;
    font-family: cursive;
}

/*#searchbutton {
	border-radius: 0px;
	margin-top: -2px;
	font-family: verdana;
	padding: 3px 9px;
}*/

#myNavbar ul li a {
	font-family: verdana;
	color: white;
}

#myNavbar ul li a:hover {
	color: black;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

.navbar {
	margin-bottom: 4px;
}
/*.navbar-toggle {
	border-color: white;
}*/





/*heading for furits and vegetables and css for image*/

.heading {
	background-color: #339966;
	color: white;
	font-family: helvetica;
}

.container-fluid .row .col-sm-4 a img:hover {
	border:1px solid #339966;
	box-shadow: 5px 5px 10px 5px #888888;
}


#mycart {
	margin-left: 10px;
}


#headingforgotpassword {
	font-family: verdana;
	margin-top: 58px;
}


#tom {
	color: white;
	margin-top: 11px;
	font-size: 20px;
}






/*css for footer*/
footer {
	background-color: #339966;
	margin-top: 240px;
}

footer .container .row .col-sm-4 p a {
	color: white;
	font-family: verdana;
	text-decoration: none;
}

footer .container .row .col-sm-4 p a:hover {
	color: black;
	text-decoration: underline;
	
}

footer .container .row p {
	font-family: verdana;
	color: white;
}

footer {
	padding-top: 15px;
}