/*css for header*/
#smallheader {
	background-color: #339966;

}

#smallheader p a {
	color: white;
	font-family: sans-serif;
}

#smallheader p span {
	color: white;
	font-family: sans-serif;
}

#bigheader {
	background-color: #339966;
	padding-bottom: 1px;
}

#bigheader p input {
	padding: 4px;
    border: 0;
    margin-left: 290px;
    padding-left: 9px;
    font-family: cursive;
}

#searchbutton {
	border-radius: 0px;
	margin-top: -2px;
	font-family: verdana;
	padding: 3px 9px;
}

.modal-body p input {
	padding: 2px 5px;
	font-family: cursive;
}

.modal-body p {
	font-family: verdana;
}



/*css for footer*/
footer {
	background-color: #339966;
	margin-top: 25px;
}

footer .container .row .col-sm-4 p a {
	color: white;
	font-family: verdana;
	text-decoration: none;
}

footer .container .row .col-sm-4 p a:hover {
	color: black;
	text-decoration: underline;
	
}

footer .container .row p {
	font-family: verdana;
	color: white;
}

footer {
	padding-top: 15px;
}

#tyforsignup {
	border:1px solid red;
	margin-top: 40px;
	padding:;
	height: 400px;
}

#tyforsignup h1 {
    line-height: 26px;
    margin-top: 30px;
    font-family: cursive;
}

#tyforsignup h2 {
    line-height: 26px;
    margin-top: 30px;
    font-family: cursive;
}

#tyforsignup p {
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: verdana;
}