<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_1="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>com.sb.integration.config.DataSourceConfig</listener-class>
  </listener>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.sb.integration.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.sb.integration.rest.api</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.sb.integration.controller.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.sb.integration.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HomePageController</display-name>
    <servlet-name>HomePageController</servlet-name>
    <servlet-class>com.sb.integration.controller.HomePageController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GoodsController</display-name>
    <servlet-name>GoodsController</servlet-name>
    <servlet-class>com.sb.integration.controller.GoodsController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.sb.integration.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.sb.integration.controller.SignupController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreateAccountController</display-name>
    <servlet-name>CreateAccountController</servlet-name>
    <servlet-class>com.sb.integration.controller.CreateAccountController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginCheckController</display-name>
    <servlet-name>LoginCheckController</servlet-name>
    <servlet-class>com.sb.integration.controller.LoginCheckController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.sb.integration.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.sb.integration.controller.AddToCartController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CartItemCountController</display-name>
    <servlet-name>CartItemCountController</servlet-name>
    <servlet-class>com.sb.integration.controller.CartItemCountController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestAjaxController</display-name>
    <servlet-name>TestAjaxController</servlet-name>
    <servlet-class>com.sb.integration.controller.TestAjaxController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ViewCartController</display-name>
    <servlet-name>ViewCartController</servlet-name>
    <servlet-class>com.sb.integration.controller.ViewCartController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemController</display-name>
    <servlet-name>DeleteCartItemController</servlet-name>
    <servlet-class>com.sb.integration.controller.DeleteCartItemController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>QuantityChangeController</display-name>
    <servlet-name>QuantityChangeController</servlet-name>
    <servlet-class>com.sb.integration.controller.QuantityChangeController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EmptyCartController</display-name>
    <servlet-name>EmptyCartController</servlet-name>
    <servlet-class>com.sb.integration.controller.EmptyCartController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>com.sb.integration.controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PleaceOrderController</display-name>
    <servlet-name>PleaceOrderController</servlet-name>
    <servlet-class>com.sb.integration.controller.PleaceOrderController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>NewAddressController</display-name>
    <servlet-name>NewAddressController</servlet-name>
    <servlet-class>com.sb.integration.controller.NewAddressController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddAddressController</display-name>
    <servlet-name>AddAddressController</servlet-name>
    <servlet-class>com.sb.integration.controller.AddAddressController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddressSelectedController</display-name>
    <servlet-name>AddressSelectedController</servlet-name>
    <servlet-class>com.sb.integration.controller.AddressSelectedController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddDeliveryOption</display-name>
    <servlet-name>AddDeliveryOption</servlet-name>
    <servlet-class>com.sb.integration.controller.AddDeliveryOption</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OrderConfirmedController</display-name>
    <servlet-name>OrderConfirmedController</servlet-name>
    <servlet-class>com.sb.integration.controller.OrderConfirmedController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PlaceOrderSuccess</display-name>
    <servlet-name>PlaceOrderSuccess</servlet-name>
    <servlet-class>com.sb.integration.controller.PlaceOrderSuccess</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordClickController</display-name>
    <servlet-name>ForgotPasswordClickController</servlet-name>
    <servlet-class>com.sb.integration.controller.ForgotPasswordClickController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminHomeController</display-name>
    <servlet-name>AdminHomeController</servlet-name>
    <servlet-class>com.sb.integration.controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddSellerClickController</display-name>
    <servlet-name>AddSellerClickController</servlet-name>
    <servlet-class>com.sb.integration.controller.AddSellerClickController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateSellerClickController</display-name>
    <servlet-name>UpdateSellerClickController</servlet-name>
    <servlet-class>com.sb.integration.controller.UpdateSellerClickController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddSellerController</display-name>
    <servlet-name>AddSellerController</servlet-name>
    <servlet-class>com.sb.integration.controller.AddSellerController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.sb.integration.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePageController</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsController</servlet-name>
    <url-pattern>/getgoods</url-pattern>
    <url-pattern>/deal_of_the_day</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateAccountController</servlet-name>
    <url-pattern>/create_account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheckController</servlet-name>
    <url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartItemCountController</servlet-name>
    <url-pattern>/cartitemcount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestAjaxController</servlet-name>
    <url-pattern>/testajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCartController</servlet-name>
    <url-pattern>/viewcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartItemController</servlet-name>
    <url-pattern>/deleteitem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuantityChangeController</servlet-name>
    <url-pattern>/quantitychange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmptyCartController</servlet-name>
    <url-pattern>/emptycart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/forgotpass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PleaceOrderController</servlet-name>
    <url-pattern>/placeorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAddressController</servlet-name>
    <url-pattern>/newaddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAddressController</servlet-name>
    <url-pattern>/addaddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressSelectedController</servlet-name>
    <url-pattern>/selectaddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDeliveryOption</servlet-name>
    <url-pattern>/adddelivery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderConfirmedController</servlet-name>
    <url-pattern>/orderconfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlaceOrderSuccess</servlet-name>
    <url-pattern>/placeordersuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordClickController</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminHomeController</servlet-name>
    <url-pattern>/adminhome</url-pattern>
    <url-pattern>/adminhome/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSellerClickController</servlet-name>
    <url-pattern>/addsellerclick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSellerClickController</servlet-name>
    <url-pattern>/updatesellerclick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSellerController</servlet-name>
    <url-pattern>/addseller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/testcall</url-pattern>
  </servlet-mapping>
</web-app>